<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_ERR">
            <PatternLayout
                pattern="%highlight{%d{HH:mm:ss.SSS} %level [%c{1}] %msg%n}{FATAL=red, ERROR=bright red, WARN=bright yellow, INFO=white, DEBUG=green bold, TRACE=blue}"
                disableAnsi="false" />
        </Console>
        <RollingRandomAccessFile name="FileAppender" fileName="logs/api-server-latest.log"
            filePattern="logs/server-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="[%d{H:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="256 MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>

        <!-- Logger configuration for spring framework -->
        <Logger name="org.springframework" level="INFO"
            additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <!-- Logger configuration for server  -->
        <Logger name="sh.pancake.link.api" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>