<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        ">

    <context:annotation-config />

    <bean id="access-token-manager" class="sh.pancake.link.api.auth.AccessTokenManager">
        <constructor-arg value="#{systemEnvironment['JWT_SECRET']}"/>
        <constructor-arg value="#{systemEnvironment['JWT_ACCESS_TOKEN_EXPIRE_TIME']}"/>
    </bean>

    <bean id="refresh-token-manager" class="sh.pancake.link.api.auth.RefreshTokenManager">
        <constructor-arg value="#{systemEnvironment['JWT_SECRET']}"/>
        <constructor-arg value="#{systemEnvironment['JWT_REFRESH_TOKEN_EXPIRE_TIME']}"/>
    </bean>

    <bean id="authenticator" class="sh.pancake.link.api.auth.APIAuthenticator">
        <constructor-arg ref="access-token-manager"/>
    </bean>

    <bean id="database-config" class="sh.pancake.link.PancakeLinkDatabaseConfig">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="#{systemEnvironment['DB_URL']}" />
        <property name="username" value="#{systemEnvironment['DB_USERNAME']}" />
        <property name="password" value="#{systemEnvironment['DB_PASSWORD']}" />
    </bean>
</beans>